.profile-progress{
    padding: 15px;
}
.profile-progress > .progress {
    margin-bottom: 5px;
}
.seeker_photo{
    width: 142px;
    height: 142px;
    position: relative;
}
.edit_photo{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 24px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
}
.edit_photo a{
    text-decoration: none;
}
.contact_information_container{
    position: relative;
/*    padding-bottom: 250px;*/
}
.contact_information_container_js{
    position: absolute;
    top: 38px;
    width: 100%;
    display: none;
}
.build_cv_header{
    background-color: #ececec;
    border-top: 1px solid #d9d9d9;
    margin: 12px 0 12px 0px;
    padding: 5px 0px;
}
.build_cv_header h4{
    color: #000;
    padding: 3px 0 5px 0px;
    margin: 0;
}
.edit_icon{
    padding-top: 5px;   
}
.form_default_p{
    padding-top: 7px;    
}
span.default_text{
    color: #212121;
}
.check_box_scroller_container {
    display: block;  
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    max-height: 200px;
    overflow-y: scroll;
    padding: 8px 10px;
}
div.checkbox{
    float: left;
    width: 33%;
}

ul.job_country {
    list-style-type: none;
    margin: 0;
    padding: 3px 0 0 5px;
}

/*Added by sumon*/
.form-group .msg_list {
    margin: 0;
    padding: 0;
}

.form-group .msg_head {
    background-color:#A0A0A0;
    color:#FFF;
    cursor: pointer;
    margin: 1px;
    padding: 5px 10px;
    position: relative;
}

.form-group .msg_body {
    background-color: #ffffff;
    list-style: outside none none;
    padding: 3px 0px 3px 20px;
}
#contact_submit_btn, #profile_submit_btn, #career_submit_btn, #education_submit_btn{
    float:left;
    margin-right: 10px;
}
.seeker_dashboard .small-box>.inner{
    float: right;
    padding-top: 26px;
}
.seeker_dashboard .small-box>.inner p{
    font-weight: normal;
}
.seeker_dashboard .small-box h3{
    font-size: 32px;
    float: right;
}
.seeker_dashboard .small-box h3 a{
    color: #fff;
}
.seeker_dashboard .small-box .icon{   
    opacity: .8;
}
.reference_information_container, .training_information_container, .experience_information_container, .education_information_container{
    border: 1px solid #ccc;
    margin-bottom: 12px;
}
.education_information_container, .experience_information_container, .training_information_container, .reference_information_container{
    background-color: #f1f1f1;
}
.education_information_container > .build_cv_header, .experience_information_container > .build_cv_header, .training_information_container > .build_cv_header, .reference_information_container > .build_cv_header{
    background-color: #A4A4A5;
}
.education_information_container > .build_cv_header .edit_icon a, .experience_information_container > .build_cv_header .edit_icon a, .training_information_container > .build_cv_header .edit_icon a, .reference_information_container > .build_cv_header .edit_icon a{
    color: #292828;
}
.education_information .build_cv_header, .experience_information .build_cv_header, .reference_information .build_cv_header, .training_information .build_cv_header{
    background-color: #4A555F;
}
.education_information .build_cv_header .edit_icon a, .education_information .build_cv_header h4, .experience_information .build_cv_header .edit_icon a, .experience_information .build_cv_header h4,  .training_information .build_cv_header .edit_icon a, .training_information .build_cv_header h4,  .reference_information .build_cv_header .edit_icon a, .reference_information .build_cv_header h4{
    color: #fff;
}
 
.reference_information_container .build_cv_header, .training_information_container .build_cv_header {
    margin-top: 0px;
    border: none;
}
.no_padding_left{
    padding-left: 0px;
}
.seeker_name h2{
    font-size: 24px;
}
a#education_edit_form, a#experience_edit_form, a#reference_edit_form, a#training_edit_form{
    margin-right: 10px;
}
.experience_information_container .build_cv_header{
    margin-top: 0px;
    border: none;
}
.experience_information, .reference_information, .education_information, .training_information{
    margin: 0 6px;
}
.training_information .build_cv_header{
   /* background-color: #555; */
}
.personal_information_container .form-horizontal .form-group, .education_information_container .form-horizontal .form-group, .reference_information_container .form-horizontal .form-group, .experience_information_ajax .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
#reference_submit_btn {
    float: left;
    margin-right: 10px;
}
#tbljobdivision ul.location{
    margin: 0;
    padding: 0;
    list-style: none;
}
#tbljobdivision ul.location li{
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    width: 25%;
}
.preffered_role ul{
    margin: 0;
    padding: 0;
}
.seeker_settings_tab{
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 30px;
    border-top: none;
}
.build_cv_container .form-group {
    margin-bottom: 8px;
}
.checkbox+.checkbox,.radio+.radio{margin-top:0px !important}
.form-horizontal .form-group {
     margin-right: 0px !important;
     margin-left: 0px !important;
}
input[type=number] {
  -moz-appearance: textfield !important;
}

.seeker_dashboard .bg-aqua {
    background-color: #337ab7 !important;
}
.seeker_dashboard .small-box>.small-box-footer{
    background-color: #f5f5f5; 
    color: #337ab7;
    text-align: left;
    padding: 12px 12px;
    left: 1px;
    bottom: 1px;
    width: 99%;
    -moz-border-bottom-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -o-border-bottom-left-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -o-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.fa_right_dashboard{
    float: right;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 0;
    width: 82px;
}
.seeker_dashboard .small-box .inner p{
   margin: 0px;    
}  
.small-box p {
    font-size: 17px;
}
.inner p a{
    color: #fff;
}

.seeker_dashboard .bg-green {
    background-color: #5cb85c !important;
}
.seeker_dashboard .bg-green a{
    color: #fff !important;
}
.bg-green a.small-box-footer{
    color: #5cb85c !important;
}
.seeker_dashboard .bg-yellow{
    background-color: #f0ad4e !important;
}
.seeker_dashboard .bg-yellow a{
    color: #fff !important;
}
.bg-yellow a.small-box-footer{
    color: #f0ad4e !important;
}
.seeker_dashboard .bg-red{
    background-color: #d9534f !important;
}
.seeker_dashboard .bg-red a{
    color: #fff !important;
}
.bg-red a.small-box-footer{
    color: #de534f !important;
}

.info-box .bg-blue {
    background-color: #337ab7 !important;
    border-right: 7px solid #042c50;
}
.info-box .bg-green {
    background-color: #5cb85c !important;
    border-right: 7px solid #055a05;
}

.info-box .bg-yellow{
    background-color: #f0ad4e !important;
    border-right: 7px solid #b74a08;
}
.fa{
    font-size: 18px;
}
.applied_jobs_table .label{
    font-size: 100%;
    padding: 7px 14px;
}

@media(max-width:767px){
    .seeker_dashboard .small-box>.inner{    
        padding-top: 8px;
    }
    .small-box p {
        font-size: 15px;
        line-height: 19px;        
    }
    .nav>li>a {    
        padding: 10px 11px;
    }
    .main-header .navbar-custom-menu, .main-header .navbar-right {
        margin-right: 0px;    
    }
    .skin-blue-light .content-wrapper, .skin-blue-light .main-footer {
        border-left: none;
    }
    .content {        
        padding: 6px;        
    }
    .small-box{       
        width: 99% !important;
    }
    span.edit{
        float: right;  
        padding-left: 10px;
    }
    .build_cv_header h4 {
        font-size: 14px;
    }
}