<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">	
body{
		margin:0 auto;
		padding:0;
	}
@media (max-width:1280px){		
		table {
			width:100% !important;
		}
		
	}
	
</style>
<title>chakri.com Email Activation newsletter</title>
</head>

<body bgcolor="#fff">
	

<table width="51.5625%" border="0" align="center" cellspacing="0" cellpadding="0" bgcolor="#E3E3E3" style="border-collapse:collapse; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify;">
  <tr>
    <td align="right"><img src="/email/recruiter.jpg" width="273" height="59" alt=""></td>
  </tr>
  <tr>
  	<td>
	<table width="95%" align="center">
		<tr>
			<td><div style="background-color:#fff; padding:3%;;">
			<p>Dear <?php echo $this->full_name; ?>,<br>
			<br>
			Please verify  your account at chakri.. Please  ensure that only a authorized person has accessed the account and made the  changes.<br>
			<br>
			 <p> <a href="http://dev1.chakri.com/registration/activate/<?php echo $this->activation_code;?>">Verify Email Now </a> </p>
			
			<br>
			Regards<br>
			Chakri.com Team</p>
		</div></td>
		</tr>
	</table>

	</td>
  	</tr>
  <tr>
  	<td><table width="95%" align="center">
  		<tr>
  			<td><div><strong>You can reach us at:</strong></div></td>
  			</tr>
  		</table></td>
  	</tr>
  <tr>
  	<td><table width="95%" align="center">
  		<tr>
  			<td align="left" valign="top"><table width="100%" align="center">
  				<tr>
  					<td align="left" valign="middle"><img src="/email/phone.png" width="16" height="16" alt="" /></td>
  					<td align="left" valign="top"><span style="color:#B5B5B7; font-weight:bold;">01922 626 056<br />
  						01916 832 507</span></td>
  					<td align="left" valign="top"><img src="/email/support.png" width="16" height="16" alt="" /></td>
  					<td align="left" valign="top"><a href="mailto:support@chakri.com" style="text-decoration:none;"><span style="color:#0B5FA4; font-weight:bold;">support@chakri.com </span></a></td>
  					</tr>
  				</table></td>
  			<td align="left" valign="top"><table width="95%" align="center">
  				<tr>
  					<td align="left" valign="top"><a href="mailto:support@chakri.com" style="text-decoration:none;"><img src="/email/home.gif" width="16" height="16" alt="" /></a></td>
  					<td align="left" valign="top"><span style="color:#0B5FA4; font-weight:bold;"> Our Branches</span></td>
  					<td align="left" valign="top"><img src="/email/bell.png" width="16" height="16" alt="" /></td>
  					<td align="left" valign="top"><span style="color:#0B5FA4; font-weight:bold;"> Report a Problem</span></td>
  					</tr>
  				</table></td>
  			</tr>
  		</table></td>
  	</tr>
  <tr>
  	<td>&nbsp;</td>
  	</tr>
</table>

</body>
</html>
